language: node_js
node_js:
  - 9

cache:
  yarn: true
  directories:
    - node_modules

before_deploy:
  - git config --global user.email "test@example.com"
  - git config --global user.name "Mr. Travis CI"
  - git add .
  - git commit -m "Commit to make tarball"
  - git archive --format=tar.gz HEAD > ./${TRAVIS_TAG}-compiled.tar.gz

deploy:
  - provider: releases
    api_key:
      secure: >-
        H+lLuiNPbb+cQp9teMchFNR+wQXCc5734vH/2bJkeVSJZlb3Z5ru2pNCXNKWeH0iJ6tknk
        Moj9Cv6b8xCTf5/O53kGb4u0CquRcLfev7sFK6tCR0pVSH/HvKmbT5j0W4DXWNRRu6ts+w
        CbrebWSgAvBuZeh8Ktkf06VCVrIsEyTFXuls7IyXSPZ2GQXIxAlyEGN4ZYKMfg9Ij+WJcR
        N3U+YXdwS/5X4oQ2K6ipvdeVdSdQMy0IdfEY359x6pdS1eAPaZOiDxtyAkj6d3x46K8ydI
        apTfeb/6dli5BzvuFB0xV6Lj57sOW4pi6C2FmFNVaxoWCfNrHxcG0DJt/Z7gI+QlnxZlw9
        jgxfbB7xMfF9+//fRRawwX9Wlpqt1F0MBu/pFOemNnn82lDJqIreYcamIZGDK7MGpqEfOO
        I5PG2q5YxRIhCXSegU5OyMy+sbuYNq+ZTnSe6U5QV6mfftqMbbqZjAOVZfqyQSjBKnZVET
        ucJz9najSB7FBT8puDi3U1oPo7DJw6IRNGm1A3AZ46CFN0Kse5exzDibBquuleX5YQiU1D
        gH35pSPiXEqNpAeXHxd4iPX/BtLTGeN8VNsWHGXW9EA8KClDNuF9eRMD4GuWf79uohUPCn
        yAM1JUw1t2Iu4BFmljg7/RoujuqSi3O+WaPUXsqeP+lfHBAEkAjBA=
    file: "${TRAVIS_TAG}-compiled.tar.gz"
    skip_cleanup: true
    on:
      tags: true
      repo: Forumouth/gulp-karma-runner
  - provider: npm
    email: hiroaki@hysoftware.net
    skip_cleanup: true
    api_key:
      secure: >-
        S0kBXks/F7AfrvRRy9PLpPr933eKOLCzf4I7ClhLmT6cQDpIbJeCmXBLWszi6BBsLgrInI9
        tIVM8sdUIlPYBnz4OVLAWBfzYj6Uts8atYzu1zbzjdyDC+ZAGzNP2CDEBSM+soqM7SJ8/Ik
        vYWBTHrj34wYNQ4dQo0MtzJYd8nmv87pYKLnGZtIrUDI1Se0OVp2bdh2YmTt3zH5McMkBpA
        GNO+7MuYcB/TvZILW6o6GRSvIuCAkT+F67VrFwbIMEC9uZLc5FgP1n4WQlWkRXoJcg0T9Gf
        gk8gmYphFKiXwhKJG93SA15aTxUhsv82YhwUCifPJxMGd05DUhKmXFMlhD61aF4d/FCyiEu
        mO50XstjC5O7Tzwe1voy+HFrpTeP20d8iIDLIfAjeEjbz0faO9Jikh+x+ZgSWLNCAOZz/xd
        uTQ630lOa4JGQpAfcpqZrIJ7skALE5rBxCY8LXKx7Juec9zpr6aUUcDGwT3BXfHRu9wsabo
        4TVxNKxk1FXyZMLBBW8RJs0m78qiIKG1cclHcL+qOSEWJMPRBKkjagJQBpj2CI86rztyhhi
        MZd1nrMT5UYinN7TdSodsj+lsDefitZRkLJt8chv0Mjji+M7cFo5/Rb3gf4on6zJA6aMzox
        AeRq9TDQL/2qIwliJ6PtmOqKCKTRTVPeD4qr7PIy5D+4=
    on:
      tags: true
      repo: Forumouth/gulp-karma-runner
